# Large raw Census files
*.pl
tx2020.pl.zip
travis_census_blocks_2020.csv

# Large geo formats we don't need in the repo
*.shp
*.dbf
*.shx
*.prj
*.cpg
*.geojson

# Python
__pycache__/
*.pyc
.env
*.egg-info/
dist/

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store
tl_2020_48_tabblock20.zip
Blocks.zip
Blocks.zip
Blocks_Pop.txt
detail.txt
detailtxt.zip
summary.csv
summary.zip
PLANC2193.zip
data/raw/election_results/HOUSE_precinct_general_*.csv
data/raw/election_results/HOUSE_precinct_general_*.tab
